<div data-role="view" id="single-activity" data-layout="default" class="activity-view" data-init="app.Activity.init" data-show="app.Activity.show" data-after-show="app.statusBtn">
    <div data-role="header">
        <div data-role="navbar">
             Informatie
            <a class="nav-button nav-button-icon nav-button-back" data-align="left" data-role="backbutton"></a>
			<!--<a class="nav-button nav-button-icon nav-button-delete hide-text" data-align="right" data-role="button" data-bind="visible: isVisible" data-click="app.Activity.remove">Delete</a>-->
            <a class="nav-button" data-align="right" data-role="button" data-icon="globe"></a>
        </div>
    </div>
    <div id="activity-main-container" class="activity-main-container">
        <div class="activity-wrapper">
        	<div class="activity-left">
        		
                 <a class="activity-category-border activity-category-border-#: Category #">
                     <div class="activity-profilepicture">
                	    <img data-bind="attr:{src: User().PictureUrl}" alt="#: User().DisplayName #">
                    </div>    
                  
                    <span data-role="touch">
              	      <a class="activity-profilename">
                          <div data-role="touch" data-bind="events: { tap: activitySelected }" class="cf">
                             <span data-bind="text: User().DisplayName" >  </span>      >
                          </div>
                	  </a>
                    </span>
                </a>
        	</div>
        </div>
        <hr class="activity-category-border-Zorg" style="display:none"/>
        <hr class="activity-category-border-Gezelschap" style="display:none"/>
        <hr class="activity-category-border-Huishoudelijk" style="display:none"/>
        <hr class="activity-category-border-Huisdieren" style="display:none"/>
        <div class="activity-wrapper">
        	<div class="activity-left">
        		<span id="activity-title" data-bind="text: Text" class="activity-title"></span>
        	</div>
        </div>
        <hr class="activity-divide-line"/>
        <div class="activity-wrapper">
        	<div class="activity-left">
        		<label>Plaats:</label> <b><span data-bind="text: City"></span></b>
        	</div>
        </div>
        <hr class="activity-divide-line"/>
        <div class="activity-wrapper">
        	<div class="activity-left">
        		<label>Datum:</label> <b><span data-bind="text: ActivityDateFormatted"></span></b>
        	</div>
        	<div class="activity-right">
        		<label>Tijd:</label> <b><span data-bind="text: ActivityStartTime"></span> - 
                        <span data-bind="text: ActivityEndTime"></span></b>
        	</div>            
        </div>
        <hr class="activity-divide-line"/>
        <div class="activity-wrapper">
        	<div class="activity-left">
        		<label>Categorie:</label> <b><span id="activity-category" data-bind="text: Category"></span></b>
        	</div>
        	<div class="activity-right">
        		<label>Vrije plekken:</label> <b><span data-bind="text: Seats"></span></b>
        	</div>            
        </div>
        <hr class="activity-divide-line"/>
        <div class="activity-wrapper">
        	<div class="activity-left">
        		<label>Status:</label> <b><span id="activity-status" data-bind="text: Status"></span></b>
        	</div>
        	         
        </div>
    <!--    <div class="activity-wrapper">
        	<div class="activity-left">
        		<label>Aanbieder:</label>
                <ul id="organisations-listview" class="activity-organization-container"></ul>
        	</div>           
        </div>-->
        <hr class="activity-divide-line"/>
        <div class="activity-wrapper">
        	<div class="activity-btn-left">
                <p>
                    <span data-role="touch">
                    	<a data-role="button" data-icon="share" class="activity-btn-share">Delen</a>
                    </span>
                </p>
        	</div>
        	<div class="activity-btn-right">
                <p id="activity-btn-book" style="display:none">
                    <span data-role="touch">
                        <a data-role="button" class="activity-btn-book" data-click="app.Activity.book">
                            <span id="activityStatusBtn">Boeken</span>
                        </a>
                    </span>
                </p>
                <p id="activity-btn-delete" style="display:none">
                    <span data-role="touch">
                        <a data-role="button"  class="activity-btn-delete" data-click="app.Activity.remove">
                           <span id="activityStatusBtn">Weigeren</span> 
                            
                        </a>
                    </span>
                </p>
                 <p id="activity-btn-cancel" style="display:none">
                    <span data-role="touch">
                        <a data-role="button" class="activity-btn-cancel" data-click="app.Activity.cancel">
                            <span id="activityStatusBtn">Cancel</span>
                        </a>
                    </span>
                </p>
              <!--  <p id="activity-status-requested" style="display:none">
                    <span data-role="touch">
                        <a data-role="button" data-icon="recents" class="activity-btn-requested">
                            <span id="activityStatusBtn">Aangevraagd</span>  
                        </a>
                    </span>
                </p>-->
                <p id="activity-btn-requested" style="display:none">
                    <span data-role="touch">
                        <a data-role="button" data-icon="recents" class="activity-btn-requested" data-click="app.Activity.confirm">
                            <span id="activityStatusBtn" >Accepteren</span><!-- Create cancel button -->  
                        </a>
                    </span>
                </p> 
               <!-- <a style="display:none" data-role="button" data-icon="recents" class="activity-btn-requested" data-click="app.Activity.confirm"/>
                <p id="activity-status-confirmed" style="display:none">
                    <span data-role="touch">
                        <a data-role="button" class="activity-btn-confirmed">
                            <span id="activityStatusBtn" data-bind="text: Status"></span>
                        </a>
                    </span>
                </p>
                <p id="activity-btn-confirmed" style="display:none">
                    <span data-role="touch">
                        <a data-role="button" class="activity-btn-confirmed">
                            <span id="activityStatusBtn" data-bind="text: Status"></span>
                        </a>
                    </span>
                </p> -->                
        	</div>
        </div>  
        <div class="activity-wrapper">
        	<div class="activity-left">
        		<label>Omschrijving:</label><br/>
                <span data-bind="text: Description"></span>
        	</div>           
        </div>
		<hr class="activity-divide-line"/>
		<div class="activity-wrapper">
        	<div class="activity-btn-left">
                <p id="activity-btn-delete" style="display:none">
                    <span data-role="touch">
                        <a data-role="button" style="display:none" class="activity-btn-delete" data-click="app.Activity.remove">Activiteit verwijderen</a>
                    </span>
                </p>
        	</div>              
        </div>
        <div class="activity-wrapper">
        	<div class="activity-btn-left">
                <p>
                    <span data-role="touch">
                        <a data-role="button" style="display:none" class="activity-btn-new-organization"  href="views/addOrganizationView.html">Organisatie toevoegen</a>
                    </span>
                </p>
        	</div>              
        </div>
		<div class="activity-wrapper">
        	<div class="activity-btn-left">
                <p>
                    <span data-role="touch">
                        <a data-role="button" style="display:none" class="activity-btn-new-profile"  href="views/addProfileView.html">Profiel toevoegen</a>
                    </span>
                </p>
        	</div>                 
        </div>        
		<div class="activity-wrapper">
        	<div class="activity-btn-left">
                <p>
                    <span data-role="touch">
                        <a data-role="button" style="display:none" class="activity-btn-new-review" href="views/addReviewView.html">Recensie toevoegen</a>
                    </span>
                </p>
        	</div>                
        </div>
        <!--<hr class="activity-divide-line"/>-->
        <div class="activity-wrapper">
            <div class="activity-btn-left">
                <ul id="reviews-listview" class="activity-organization-container"></ul>
            </div>
        </div>
         
    </div>
    <footer data-role="footer" data-position="fixed">
            <div data-role="tabstrip" id="navigation-container">
                 <a style="color: #32A1A9" data-role="button" onclick="window.location.replace('#views/activitiesView.html');" id="volunteer-activities" data-icon="organize">Aanbod</a>
                <a style="display:none; color: #32A1A9" data-role="button" onclick="window.location.replace('#views/myActivitiesView.html');" id="provider-activities" data-icon="organize">Aanbod</a>
                <a  data-role="button" onclick="window.location.replace('#views/bookingsView.html');" id="volunteer-bookings" data-icon="bookmarks">Boekingen</a>
                <a style="display:none" data-role="button" onclick="window.location.replace('#views/myBookingsView.html');" id="provider-bookings" data-icon="bookmarks">Boekingen</a>
                <a data-role="button"   onclick="window.location.replace('#views/favoritesView.html');" id="volunteer-favorites" data-icon="favorites">Favorieten</a>
                <!--<a style="display:none" onclick="window.location.replace('#views/favoritesView.html');" id="volunteer-favorites" data-icon="favorites">Favorieten</a>-->
                <!--<a style="display:none" data-role="button" onclick="window.location.replace('#views/profilesView.html');" id="provider-profiles" data-icon="mostviewed">Profielen</a>-->
                <a data-role="button" onclick="window.location.replace('#views/myProfileView.html');" id="provider-myprofile" data-icon="contacts">Profiel</a>
            </div>
        </footer>  
 
    <input id="activity-id" type="hidden" data-bind="value: Id"></>
    <input id="activity-createdby" type="hidden" data-bind="value: CreatedBy"></>
    <input id="activity-status" type="hidden" data-bind="value: Status"></>
    <input id="activity-category-span" type="hidden" data-bind="value: Category"></>
    
   
</div>
<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <a class="activity-category-border activity-category-border-#: Category #">
    <div data-role="touch" data-bind="events: { tap: activitySelected }" class="cf">
        <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="#: User().Name #">
        </div>
        <div class="activity-content">
            <h2 class="activity-title">#: Text # </h2>
            <div data-bind="visible: Picture">
                <!--<img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%">-->
                <img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%">                
            </div>
          <!--  <span class="main-span">#: City # (0.0 km)</span><br/>
            <span class="main-span">#: ActivityStartTime # uur</span> - 
            <span class="main-span">#: ActivityEndTime # uur</span><br/>
            <span class="activity-category" id="activity-category">#: Category #</span>
            <span id="activityDate" class="time-span" data-bind="text: ActivityDateFormatted"></span>-->
        </div>
    </div>
   </a> 
</script>
<!-- Profile Template -->
<script type="text/x-kendo-template" id="profilesTemplate">
    <div>
	    <div class="activity-profilepicture">
    	    <img src="#: User().PictureUrl #" alt="#: User().DisplayName #">
        </div>    
      
        <span data-role="touch">
  	      <a data-role="button" class="activity-profilename">
          <div data-role="touch" data-bind="events: { tap: activitySelected }" class="cf">
          #: User().DisplayName # 
          </div>
    	  </a>
        </span>
    </div>
</script>
<!-- Organisations Template -->
<script type="text/x-kendo-template" id="organisationsTemplate">
    <div>
        <span data-role="touch">
          <a data-role="button" class="activity-organizationname">#: Name # ></a>
        </span>
    </div>
</script>


<!-- Reviews Template -->
<script type="text/x-kendo-template" id="reviewsTemplate">
    <div class="user-avatar">
        <img src="#: User().PictureUrl #" alt="#: User().DisplayName #">
    </div>
    <div class="activity-content">
        <h2 class="activity-title">#: User().DisplayName #</h2>
        <!--<span class="main-span">#: Rating # - Sterren</span><br/><br/>-->
        <span class="main-span">#: Description #</span>
    </div>
</script>

<!-- Comments Template -->
<!--<script type="text/x-kendo-template" id="commentsTemplate">
    <div class="user-avatar">
        <img src="#: User().PictureUrl #" alt="#: User().DisplayName #">
    </div>
    <div class="comment-content">
        <h2 class="person-name">#: User().DisplayName #</h2>
        <a class="user-share-txt">#: Comment #</a>
    </div>
</script>-->
<!-- CurrentUser Info -->
<!--<div class="picture-wrp">
    <img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%">
    <div class="user-info">
        <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="#: User().DisplayName #">
        </div>
        <h2 id="personName" class="person-name" data-bind='text: User().DisplayName'></h2>
        <span id="activityDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>
    </div>
</div>-->
