<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" >
    <div data-role="header">
        <div data-role="navbar">
             Introduction
            <a class="nav-button nav-button-icon nav-button-back" data-align="left" data-role="backbutton"></a>
			
            
        </div>
    </div>
    <div data-role="header">
        <div data-role="navbar">
           <div class="nav-logo"><img src="styles/images/logo_small.png" /></div>
            
            <div class="qare-span-filterdialog">
            	<span>Introduction</span>
            </div>
            <span data-role="touch">
            	<a class="nav-button" data-align="right" data-role="backbutton">X</a>
            </span>
        </div>
    </div>
    <!-- check input types http://www.w3schools.com/html/html_form_input_types.asp -->
    <div id="introduction" class="introduction">
        This is application introduction
        to be implemented
    </div>
</div>
