<div data-role="view" id="map" data-title="Map" data-show="showMap" data-stretch="true">
    <div data-role="header">
        <div data-role="navbar">
            <div class="qare-span-filterdialog">
                <span>Map</span>
            </div>
            <a class="nav-button nav-button-icon nav-button-back" data-align="left" data-role="backbutton"></a>

        </div>
        <div class="activities-fixed-group"></div>
    </div>
    <div>
        <div id="map_canvas" style="width: 100%; height: 100%; position: absolute;">
        </div>

    </div>
</div>
<script>
    
    var geocoder;
    var map;
    var address;
    var cityParam;
    var addressParam;
    
    function showMap(e) {
        addressParam = e.view.params.address;
        cityParam = e.view.params.city;
    
        navigator.geolocation.getCurrentPosition(
            onSuccessShowMap,
            onErrorShowMap
            );
    }
    function onSuccessShowMap(position) {
        var latlng;
    
        geocoder = new google.maps.Geocoder();
        
        latlng = new google.maps.LatLng(
            position.coords.latitude,
            position.coords.longitude);
        address = cityParam + ',' + addressParam;
    
        var mapOptions = {
    
            sensor: true,
            center: latlng,
            panControl: false,
            zoomControl: true,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false,
            mapTypeControl: true,
    
        };
    
        var map = new google.maps.Map(
            document.getElementById('map_canvas'),
            mapOptions
            );
        if (geocoder) {
            geocoder.geocode({
                                 'address': address
                             }, function(results, status) {
                                 if (status === google.maps.GeocoderStatus.OK) {
                                     if (status !== google.maps.GeocoderStatus.ZERO_RESULTS) {
                                         map.setCenter(results[0].geometry.location);
    
                                         var infowindow = new google.maps.InfoWindow({
                                                                                         content: '<b>' + address + '</b>',
                                                                                         size: new google.maps.Size(150, 50)
                                                                                     });
    
                                         var marker = new google.maps.Marker({
                                                                                 position: results[0].geometry.location,
                                                                                 map: map,
                                                                                 title: address
                                                                             });
                                         google.maps.event.addListener(marker, 'click', function() {
                                             infowindow.open(map, marker);
                                         });
                                     } else {
                                         console.log("No results found");
                                         /*var marker = new google.maps.Marker({
                                         position: latlng,
                                         map: map
                                         });*/
                                     }
                                 } else {
                                     console.log("Geocode was not successful for the following reason: " + status);
                                     document.getElementById("map_canvas").innerHTML = "Ingevoerde locatie is onbekend";
                                 }
                             });
        }
    }
    function onErrorShowMap(error) {
        switch
        (err.code) {
            case
                err.PERMISSION_DENIED:
                document.getElementById("map_canvas").innerHTML = "Kan de huidige positie niet . Ofwel GPS-signalen zwak of de GPS is uitgeschakeld";
    
            case
                err.POSITION_UNAVAILABLE:
                document.getElementById("map_canvas").innerHTML = "Kan de huidige positie niet . Ofwel GPS-signalen zwak of de GPS is uitgeschakeld";
            case
                err.TIMEOUT:
                document.getElementById("map_canvas").innerHTML = "Kan de huidige positie niet . Ofwel GPS-signalen zwak of de GPS is uitgeschakeld";
            case
                err.UNKNOWN_ERROR:
                document.getElementById("map_canvas").innerHTML = "Kan de huidige positie niet . Ofwel GPS-signalen zwak of de GPS is uitgeschakeld";
                break
        }
    }
</script>