<div data-role="view" id="map" data-title="Map" data-show="showMap" data-stretch="true">
    <div data-role="header">
        <div data-role="navbar">
            <div class="qare-span-filterdialog">
                <span>Map</span>
            </div>
            <a class="nav-button nav-button-icon nav-button-back" data-align="left" data-role="backbutton"></a>

        </div>
        <div class="activities-fixed-group"></div>
    </div>
    <div>
        <div id="map_canvas" style="width: 100%; height: 100%; position: absolute;">
        </div>

    </div>
</div>
<script>
    var activity;
    function showMap(e) {
        activityUid = e.view.params.uid;
        console.log(activityUid);
        // Get current activity (based on item uid) from Activities model
        activity = app.Activities.activities.getByUid(activityUid);
        //kendo.bind(e.view.element, activity, kendo.mobile.ui);
        console.log(activity.Location.latitude);
        navigator.geolocation.getCurrentPosition(
            onSuccessShowMap,
            onErrorShowMap
            );
    }
    function onSuccessShowMap(position) {
        /*var latlng = new google.maps.LatLng(
        position.coords.latitude,
        position.coords.longitude);*/
        var latlng = new google.maps.LatLng(
            activity.Location.latitude,
            activity.Location.longitude);
    
        var mapOptions = {
    
            sensor: true,
            center: latlng,
            panControl: false,
            zoomControl: true,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false,
            mapTypeControl: true,
    
        };
    
        var map = new google.maps.Map(
            document.getElementById('map_canvas'),
            mapOptions
            );
    
        var marker = new google.maps.Marker({
                                                position: latlng,
                                                map: map
                                            });
        
        console.log(marker);
        console.log("map rendering");
    }
    function onErrorShowMap(error) {
        alert("error");
    }
</script>